<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <ApplicationSettings>
    <add key="ApplicationName" value="Fhir API and Ehr Store Demo"/>
    <add key="EhrStoreServerUrl" value="https://az-sea-fl-srv02.dipscloud.com:4443/api/v1/query"/>
    <add key="Auth-Ticket" value="3fd00df2-02dd-488d-9b58-403f385ccc49"/>
    <add key="VitalSignCreateUrl" value="https://az-sea-fl-srv02.dipscloud.com/DIPS-WebAPI/HL7/FHIRDSTU2/Observation?_profile=DIPSVitalSignsObservation"/>
    <add key="PatientId" value="1000239"/>
    <add key="PatientId" value="SELECT tag(o, 'DocumentId') as DocumentId, o /data/events/time/value As Date, o /data[at0002]/events[at0003]/data[at0001]/items[at0004]/value/magnitude As Temperature, o /data[at0002]/events[at0003]/data[at0001]/items[at0004]/value/units As TemperatureUnits
                                FROM EHR e CONTAINS OBSERVATION o[openEHR-EHR-OBSERVATION.body_temperature.v2]  where e/ehr_status/subject/external_ref/id/value = '1000239'" />
  </ApplicationSettings>
</configuration>