<!--<div class="container">
  <div class="form-group">
  </div>

  <div class="form-group">


    <label>
      Temperature:
    </label>
    <input type="text" [ngModel]="temperatureModel.readingValue" required>

    <label>
      Date Of Reading:
    </label>
    <input type="text" [ngModel]="temperatureModel.dateOfReading" required>

  </div>
</div>-->
<!--<input #name placeholder="name" />
<input #phone placeholder="phone" />
<button (click)="AddTemperature(name.value,phone.value)">Save New Reading</button>-->




<div class="container">

  <form class="text-center border border-light p-5" [formGroup]="temperatureForm" (ngSubmit)="onFormSubmit(temperatureForm.value)">
    <h3>Create Body Temperature</h3>
    <label>
      Temperature Reading:
    </label>
    <input formControlName="Temperature">

    <button mdbBtn color="info" block="true" class="my-4" type="submit">Submit</button>
    <button type="reset" (click)="resetForm()">Reset</button>
    <a class="btn" (click)="GenerateTemperatureAsAuto()">Auto Mode</a>

  <!--<label>{{savedRespone.resourceType}}</label>
  <label>{{savedRespone.id}}</label>-->
    <label>{{savedRespone.comments}}</label>

  </form>

</div>

